production: &base
  diors:
    root_path: VM_ROOT_PATH
    vm:
      user: VM_USER
      memory: VM_MEMORY
      nic: NETWORK_INTERFACE_CARD
      bridge: BRIDGED_NETWORK_INTERFACE
    box:
      list: BOX_LIST
      default: DEFAULT_BOX
    hubot:
      token: HUBOT_TOKEN   

development:
  <<: *base

test:
  <<: *base
