<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">DiorsCloud</a>
      <div class="container nav-collapse clearfix">
        <ul class="nav">
          <li><%= link_to "Projects", "/path1"  %></li>
          <li><%= link_to "Users", "/path2"  %></li>
          <li><%= link_to "Machines", "/path3"  %></li>
        </ul>
        <ul class="nav right">
          <li><%= link_to "Logout", destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
